@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", "sans-serif";
    color: #ffffff;
  }

  body {
    overflow-x: hidden;
  }
}

@layer components {
  .menu-item {
    @apply text-xs md:text-sm font-normal text-white relative cursor-pointer 
           after:content-[''] after:w-full after:h-[3px] after:bg-slate-50 
           after:absolute after:left-0 after:-bottom-2 after:rounded 
           after:-translate-x-11 after:opacity-0 
           after:transition-all after:hover:translate-x-0 
           after:hover:opacity-100;
  }

  .primary-btn {
    @apply h-9 md:h-11 bg-primary text-white text-sm px-6 rounded border border-primary hover:bg-transparent hover:text-primary;
  }

  .hero-img {
    @apply w-[120px] h-[120px] md:w-[139px] md:h-[139px] bg-gray-800 rounded-full object-cover aspect-square;
  }

  .input-box {
    @apply bg-gradient-to-br from-fuchsia-950 to-slate-950 rounded border border-slate-950 px-4 py-3 placeholder:text-slate-400 placeholder:text-sm mb-5 focus:outline-none focus:border-slate-50 focus:border-2;
  }

  .ui-circle {
    @apply w-[130px] h-[130px] md:w-[180px] md:h-[180px] origin-top-left rotate-[-36.39deg] rounded-[117px] border-b-2 border-slate-50;
  }
}

/* WaveEffect not final */
.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 5em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
